<form name="scenarioSaveAsForm" class="form form-horizontal form-custom">
  <div class="modal-header">
    <h3 class="modal-title" translate="scenario.save.as.title"></h3>
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true"><i
      class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-4 control-label"><strong
          translate="scenario.name"></strong></label>

        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" id="name" name="name" class="form-control" ng-model="scenario.scenarioName"
                   aty-maxlength="20" required/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="description"><strong
          translate="scenario.description"></strong></label>

        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" id="description" class="form-control" ng-model="scenario.scenarioDescription"
                   aty-maxlength="50"/>
          
          	<input type="text" name="saveInProgress" ng-show="false" ng-model="scenario.saveInProgress" class="form-control"/>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!scenarioSaveAsForm.$valid" ng-click="saveAs(scenarioSaveAsForm)" translate="scenario.save.as.create.button"></button>
    <button class="btn btn-default" type="button" ng-click="close()" translate="scenario.save.as.cancel.button"></button>
  </div>
</form>
