<div class="footer-logo">
  <div class="container">
    <!-- -->
    <div class="row">
      <div class="col-sm-12"><p><a du-smooth-scroll="access-shortcuts-wrapper" class="btn btn-wireframe" popover-trigger="mouseenter" popover="{{'back.to.top.of.page'|translate}}" ><i class="fa fa-angle-up"></i></a></p></div>
    </div>
    <!-- -->
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <!-- -->
    <div class="row">
      <div class="col-sm-12"><p><img src="images/logo-coface-footer.png" alt="" class="logo"><img src="images/logo-coface-footer-print.png" alt="" class="logo"> <span translate="footer.copyright"></span></p></div>
    </div>
    <!-- -->
  </div>
</div>
