<!-- Company infos -->
<div class="form-group">
	<label class="col-sm-4 control-label"><strong
		translate="search.company.name" translate-values="{p0:contractId}"></strong></label>
	<div class="col-sm-8">
		<p class="form-control-static" ng-bind="::company.companyName"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-4 control-label"><strong
		translate="search.company.address"></strong></label>
	<div class="col-sm-8">
		<p class="form-control-static" ng-bind="::company.address"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-4 control-label"><strong
		translate="search.company.zipCode"></strong></label>
	<div class="col-sm-8">
		<p class="form-control-static" ng-bind="::company.postalCode"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-4 control-label"><strong
		translate="search.company.city"></strong></label>
	<div class="col-sm-8">
		<p class="form-control-static" ng-bind="::company.city"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-4 control-label"><strong
		translate="search.company.country"></strong></label>
	<div class="col-sm-8">
		<p class="form-control-static" ng-bind="::company.country"></p>
	</div>
</div>