<!-- BEGIn cols -->
<div class="container">
  <div class="banner">
    <div class="container">
      <h1 translate="search.title"></h1>
    </div>
  </div>
  <div class="contentcol row">
    <div id="content" class="col-sm-12 content-area">
      <!-- -->

      <!-- Criteria -->
      <div class="panel panel-default" ng-include="'views/search/criteria.html'"></div>
      <!-- -- >

      <!-- Results -->
      <div class="panel" ng-include="'views/search/results.html'" id="search-result"></div>
      <!-- -->

    </div>
  </div>
</div>
<!-- END cols -->
