<!-- BEGIn cols -->
<form name="finalizationForm" ng-submit="submitForm($event)"
      class="aty-form form form-horizontal form-custom" novalidate>
  <div class="container">

    <div class="banner">
      <div class="container">
        <h1 class="ttl-is-h1" translate="menu.finalization"></h1>

        <div class="banner-tools"><span translate="banner.case.id.label"
                                        translate-values="{caseId:$root.caseId}"></span></div>
      </div>
    </div>
  </div>
</form>
