<form name="createCaseForm" class="form form-horizontal form-custom">
  <div class="modal-header">
    <h3 class="modal-title" translate="header.menu.option2"></h3>
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true"><i
      class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-sm-4" translate="header.menu.userpreferences.language"></label>
      <div class="col-sm-8">
        <div class="header-toolbar-user dropdown">
          <a onclick="return false;" href="#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" role="button" id="nav-is-user-trigger">{{currentLanguage}} <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="nav-is-user-trigger">
            <li role="presentation" ng-repeat="language in user.languages">
              <a role="menuitem" ng-click="changeLanguage(language)" tabindex="-1" href="">{{language.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4" translate="header.menu.userpreferences.premium.rate.in"></label>
      <div class="col-sm-8">
        <div class="header-toolbar-user dropdown">
          <a onclick="return false;" href="#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" role="button" id="nav-is--rate-user-trigger">{{currentRateInPercent}} <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="nav-is-user-trigger">
            <li role="presentation" ng-repeat="rateInPercent in user.rateInPercents">
              <a role="menuitem" ng-click="changeRateInPercent(rateInPercent)" tabindex="-1" href="">{{rateInPercent.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div class="modal-footer">    
    <button class="btn btn-primary" type="button" ng-click="close()" translate="close.title"></button>
  </div>
</form>
